# Исключаем секретные ключи
credentials.json

# Исключаем системные папки Python
venv/
__pycache__/
*.pyc

# Исключаем большие папки с контентом
images/

# Исключаем системные файлы ОС
.DS_Store
Thumbs.db